/*Normalize*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

/*reset*/
body * {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

/*Define Variables*/
:root {
  --primary-color: #fbad27;
  --primary-light-color: #ffd700;
  --primary-light-color-hover: #ffe838;
  --secondary-color: #0068d5;
  --secondary-color-hover: #004fa3;
  --dark-color: #4a4a4a;
  --grey-color: #6c757d;
  --light-grey-color: #d2d1d2;
  --light-color: #f4f4f4f4;
  --sucess-color: #28a745;
  --failed-color: #dc3545;

  --border-width-card: 3px;

  --max-width: 1100px;
}
/*Util*/

.control {
  display: flex;
  flex-flow: column;
}
.btn {
  outline: none;
  border: none;
  margin: 10px 0;
  padding: 15px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.container {
  max-width: var(--max-width);
  margin: auto;
}
.primary-color {
  color: #808fff;
  margin: 0 4px;
}
.primary-btn {
  color: #212529;
  background: var(--primary-light-color);
}
.primary-btn:hover {
  color: hsl(210, 11%, 35%);
  background: var(--primary-light-color-hover);
}
.google-btn {
  color: white;
  background: #dc422e;
}
.google-btn:hover {
  background: #e26555;
}
.twitter-btn {
  color: white;
  background: #1ab2e8;
}
.twitter-btn:hover {
  color: white;
  background: #48c1ed;
}
.facebook-btn {
  color: white;
  background: #3b5998;
}
.facebook-btn:hover {
  color: white;
  background: #627aad;
}

.h-short-line {
  position: relative;
}
.h-short-line::before {
  content: "";
  position: absolute;
  background-color: #333;
  width: 38px;
  left: -20px;
  height: 4px;
}
.card {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 10px;
  border-radius: 6px;
  border: var(--border-width-card) solid transparent;
}
.card > * {
  border-radius: inherit;
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.card-origin {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  font-size: 2rem;
}
.card-title {
  color: var(--secondary-color);
  text-align: start;
  padding: 0px 20px;
}
.card-description {
  color: var(--grey-color);
  text-align: start;
  padding: 5px 20px;
}
.logo {
  width: 60px;
}

/*Base*/
input {
  padding: 10px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border: 2px solid grey;
  outline: none;
}
label {
  margin: 4px 0;
}

/*Base Style*/
body {
  overflow-x: hidden;
  background-color: #f4f4f4f4;
  font-family: "Lato";
  line-height: 1.5;
}
section {
  margin: auto;
  text-align: center;
  padding: 50px 15px;
}
section > h2::before,
section > h2::after {
  content: "   ";
  white-space: pre;
  margin: 0 -2px;
}
section:first-of-type {
  padding-top: 140px;
}
section > h2 {
  text-decoration: 4px underline var(--secondary-color);
  text-underline-offset: 6px;
  margin-bottom: 35px;
}

/*style nav bar*/
#main-nav {
  color: #fafafafa;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
#main-nav .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.85rem;
  height: 60px;
}

#main-nav h1 {
  font-family: cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#main-nav #nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main-nav #nav-links li a {
  font-weight: bold;
  padding: 19px 15px;
  transition: border-bottom-width 80ms cubic-bezier(0.68, -0.55, 0.265, 1.55)
    20ms;
}
#main-nav #nav-links li a:hover {
  border-bottom: 4px solid gold;
}
/*table*/
#specialist-facts {
  border-collapse: collapse;
  border: 2px solid #ccc;
  width: 100%;
}
#specialist-facts thead {
  background-color: #ccc;
  font-weight: bold;
}
#specialist-facts tr td {
  border-bottom: 2px solid #ccc;
  padding: 10px 20px;
}
/*make burger menu*/
/*the burger menu is hidden for large screen*/
.burger {
  cursor: pointer;
  display: none;
}
.burger div {
  width: 28px;
  height: 4px;
  background-color: white;
  margin: 4px 0;

  transition: all 150ms ease-in 50ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(80px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
/*Home Page Styling*/
/*Style Main Section*/
#main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  height: 700px;
}
#main-section {
  background: black;
}
#main-section .overlap > :not(a) {
  text-shadow: 0px 0px 8px black;
}
#main-section .overlap {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 2rem;
  line-height: 1;
  color: white;
}
#main-section .overlap p {
  font-size: 0.85em;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/*Signup form style*/
#signup {
  display: flex;
  justify-content: center;

  background-color: #fff;
}
#signup > .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.welcome-message,
.notation-message {
  font-size: 1.5rem;
  text-align: center;
  color: #0b2027;
}
.welcome-message {
  margin-bottom: 30px;
}
.notation-message {
  margin-top: 45px;
  margin-bottom: 10px;
}

.notation-message p,
.welcome-message p {
  font-size: 1rem;
}
#sign-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row nowrap;
}

#sign-form > * {
  padding: 0 60px;
}

#sign-form form {
  position: relative;
  min-width: 250px;
}
#sign-form form::before {
  content: " ";
  border-left: 2px solid lightgrey;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: calc(100% - 90px);
}
#sign-form .error {
  text-align: end;
  color: crimson;
  font-size: 0.8em;
  height: 4px;
}

#social-media {
  display: flex;
  flex-flow: column;
  justify-content: center;
  max-width: 450px;
  min-width: 250px;
  padding: 5px 40px;
}
#signup input,
#signup label {
  display: block;
  width: 100%;
  text-align: start;
}

#signup a {
  color: #008cff;
}
button[type="submit"] {
  width: 100%;
}

/*Footer Style*/
#main-footer {
  color: #495057;
  background-color: #fafafafa;
  font-family: "Lato";
}
.logo {
  width: 60px;
}
/*Subscribe Styling*/
.subsribe {
  margin: 120px 40px 10px 40px;
}
.subsribe p {
  font-weight: bold;
}
.subsribe .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;

  padding: 8px 0;
  border-bottom: 2px solid;
}
.subsribe .container > div {
  display: flex;
  justify-content: space-between;
}
.subsribe input {
  margin: 10px;
}
.follow .container {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 20px;
}

.social-media-links {
  display: flex;
  align-items: center;
}
.social-media-links > * {
  margin: 0 15px;
}

/*short link styling*/
.quick-links {
  text-align: left;
  padding: 10px 40px;
}
.quick-links li {
  margin: 5px 0;
  padding: 5px 0px;
  font-size: 0.9rem;
}
.quick-links > .container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  gap: 40px;
}
/*site info styling*/
.site-info {
  padding: 10px 40px;
}
.site-info .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
/*welcome stlying*/

/*testimonials styling*/
#testimonial-section > .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.testimonial {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0 15px 5px #12121212;
  margin: 50px 20px;
  padding: 20px;
}
.testimonial::before {
  content: "“";
  position: relative;
  z-index: 1;
  right: 80px;
  top: 120px;
  font-size: 2em;
  color: var(--primary-color);
}
.testimonial::after {
  content: "”";
  position: relative;
  z-index: 1;
  left: 80px;
  bottom: 10px;
  font-size: 2em;
  color: var(--primary-color);
}
.profile-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  position: relative;
  top: -60px;
  margin: -40px;
  padding: 0;
}
.profile-name {
  font-weight: bold;
}
.profile-origin {
  margin: 5px 0 10px 0;
  font-size: 0.8em;
}
/*top destinations styling*/
#top-destination-section > .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#top-destination-section .card:hover {
  border: var(--border-width-card) solid var(--primary-color);
  box-shadow: 0 0 2px 2px lightgray;
}
/*top trips styling*/

#top-trip-section > .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}
#top-trip-section .card-title:hover {
  opacity: 0.8;
}
#top-trip-section .card {
  width: 340px;
  height: 620px;
  overflow: hidden;
  background-color: white;
  border: 1px solid var(--light-grey-color);
}
#top-trip-section .card-img {
  height: 300px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/*out travel specialist styling*/
#travel-specialist-section > .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
#travel-specialist-section .card-title {
  color: var(--dark-color);
}
#travel-specialist-section .card-title:hover {
  opacity: 0.8;
}
#travel-specialist-section .card {
  width: 300px;
  height: auto;
  background-color: white;
  border: 1px solid var(--light-grey-color);
}
#travel-specialist-section .card-img {
  height: 300px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/*Why Us*/
#feature-section > .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.feature {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}
.feature i {
  padding: 10px 0;
  margin: 5px 20px;
  color: var(--sucess-color);
}

/*About Us Page Styling*/
#introduction-section img {
  width: 100%;
}
/*Contact Us Page Styling*/
#contact-section a,
#office-section a {
  font-weight: bold;
  color: var(--secondary-color);
}
#contact-section a:hover,
#office-section a:hover {
  color: var(--secondary-color-hover);
}
#contact-section .container,
#office-section .container {
  display: flex;
  flex-flow: column wrap;
  justify-self: flex-start;
  align-items: center;
  text-align: start;
}
#contact-section .container > *,
#office-section .container > * {
  margin-bottom: 40px;
}
#office-section address {
  font-style: normal;
  line-height: 1.5;
}

/*Destination Introducition Styling*/
#introduction-section {
  margin: 0 40px;
}
#introduction-section > p {
  padding-bottom: 80px;
}
#introduction-section > .container h3,
#introduction-section > .container p {
  text-align: start;
}

/*Intro Trip Stlying*/

#layout-content {
  display: grid;
  grid-template-columns: 2fr 1.8fr;
  grid-template-rows: repeat(8, 250px);
  justify-content: space-around;

  margin: 0 20px;
}
#layout-content > aside {
  padding-top: 150px;
  grid-column: 2 / 2;
  margin: 0 30px;
}
#layout-content aside > div {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;

  padding: 10px 30px;
  font-size: 0.8rem;
  background-color: #ddd;
}
#layout-content aside > div > * {
  margin: 5px;
}
#layout-content aside > div > .card {
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: repeat(auto-fit, 50px);
  grid-gap: 10px;
  min-width: 100%;
}
#layout-content aside > div > .card a {
  grid-row: 1 / span 2;
}

#layout-content aside div .card .card-description,
#layout-content .card-title {
  margin: 0;
  padding: 0;
}
#layout-content aside > div > .card a,
#layout-content aside > div > .card img {
  margin: 0;
  padding: 0;
  width: 100px;
  height: 100px;
}
/*intdoduction trip styling start */
#introduction-trip-section > .container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column wrap;
  text-align: start;
}
#introduction-trip-section img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
#introduction-trip-section table {
  border-collapse: collapse;
}
#introduction-trip-section table thead {
  font-weight: bold;
  font-size: 1.1em;
}
#introduction-trip-section table tr,
#introduction-trip-section table td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

/*intoduction specialist styling*/
#introduction-specialist-section > .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
}

#introduction-specialist-section > .container > div {
  max-width: 450px;
}
#introduction-specialist-section img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
#introduction-specialist-section {
  text-align: start;
}

/*Gallery page styling*/
#gallery > .container #comment-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, 0.5fr);
  gap: 15px;
}
#gallery img:hover {
  filter: contrast(100%) brightness(40%);
  transition: all 350ms 100ms;
}
#gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Introduce Media Queries for smalle devices screens*/

@media only screen and (max-width: 992px) {
  #introduction-trip-section img {
    width: 80%;
  }
  #layout-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 350px;
  }
  #layout-content aside {
    min-width: 60%;
    margin: 0 40px;
  }
}
@media only screen and (max-width: 768px) {
  .burger {
    display: block;
  }
  #main-nav #nav-links {
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 46px;
    right: 0px;
    width: 100%;
    height: 94vh;
    transform: translate(100%);
    transition: transform 350ms ease-in 200ms;
    visibility: hidden;
  }
  #main-nav #nav-links li {
    color: #0b2027;
    opacity: 0;
  }
  .burgerToggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .burgerToggle .line2 {
    opacity: 0;
  }
  .burgerToggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  #main-nav #nav-links.nav-active {
    transform: translateX(0%);
    visibility: visible;
  }

  #sign-form {
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
  }
  #sign-form form::before {
    display: none;
  }
  #sign-form #social-media {
    margin-top: 60px;
    order: 1;
  }
  .subsribe .container {
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
  }
  .subsribe input{
    width: 95%;
  }

  .quick-links .container > * {
    width: 240px;
  }
  .site-info .container {
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
  }
  .site-info .copyright {
    order: 2;
  }
}
